In [1]:
import pandas as pd

In [5]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
#we can utilize our own index
s = pd.Series([1,2,3], index=['a', 'b', 'c'])

In [7]:
#Math operations on Series work based off of index

In [8]:
# Data frames
# Main structure that we will be using
# 2D, Tabular data strucutre
# SQL Table equivilent
# Each column is a Series
# Rows and columns are indexable
# Benefits: hyperefficent, lots of functionality, explore/aggregrate, and analyze data

In [9]:
# We can use python dictionary to initalize our own DF
data = {
    "Fruits": ["Apples", "oranges", "Banana"],
    "Colors": ["Red","Orange","Yellow"],
    "Calories": [90, 110, 130]
}
# When loading data into pandas it will automatically infer the strucutre, and datatypes of your data
df = pd.DataFrame(data)
df

    Fruits  Colors  Calories
0   Apples     Red        90
1  oranges  Orange       110
2   Banana  Yellow       130

In [10]:
# File Types with Pandas
# CSV, FixedWidth, Parquet, ORC, Excel, JSON, BigQuery, -Clipboard
#Head() rpints out eh first n lines of our data. Defaults to 5

# Exploratory Data Analysis (EDA)
- Objectives of EDA
- Statistical Description 
- Data Quality
- Visualization
- Intuition

# Core components of EDA
- Univariate analysis 
- Visualizations: Histograms, boxplots, density plots, violin plots

# MultiVariate analysis
- Viewing relationships between variables
- Visualizations: Scatterplots, pair plots, 
- Statistical analysis: Covariance, and correlation coefficents

# Data profiling
- MEtadata is correct
- nulls, uniques, dtypes, lineages, and sources

In [14]:
df.describe()

       Calories
count       3.0
mean      110.0
std        20.0
min        90.0
25%       100.0
50%       110.0
75%       120.0
max       130.0

In [12]:
# Std deviation
# 68, 95, 99.7 only for normalized data
# 68% of our data will be within 1 std dev
# 95% of our data will be within 2 std dev
# 99.7% of our data will be within 3 std dev 


# we can look up specific rows with.loc or.iloc

#df.drop([343, 222, 222], inplace  = True) inplace changes the OG df

In [13]:
#Visualizations
# Pandas uses matplotlib and seaborn 
# df.plot(kind = "scatter",x = )

In [21]:
pokemon = "C:\\Users\\anand\Downloads\\pokemon.csv"
df = pd.read_csv(pokemon)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [23]:
df.loc[30, 'Name']

'Pikachu'

In [22]:
df.loc[600:630:2]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,310,45,53,70,40,60,42,5,False
602,542,Leavanny,Bug,Grass,500,75,103,80,70,80,92,5,False
604,544,Whirlipede,Bug,Poison,360,40,55,99,40,79,47,5,False
606,546,Cottonee,Grass,Fairy,280,40,27,60,37,50,66,5,False
608,548,Petilil,Grass,NaN,280,45,35,50,70,50,30,5,False
610,550,Basculin,Water,NaN,460,70,92,65,80,55,98,5,False
612,552,Krokorok,Ground,Dark,351,60,82,45,45,45,74,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
618,557,Dwebble,Bug,Rock,325,50,65,85,35,35,55,5,False
620,559,Scraggy,Dark,Fighting,348,50,75,70,35,70,48,5,False
622,561,Sigilyph,Psychic,Flying,490,72,58,80,103,80,97,5,False
624,563,Cofagrigus,Ghost,NaN,483,58,50,145,95,105,30,5,False
626,565,Carracosta,Water,Rock,495,74,108,133,83,65,32,5,False
628,567,Archeops,Rock,Flying,567,75,140,65,112,65,110,5,False
630,569,Garbodor,Poison,NaN,474,80,95,82,60,82,75,5,False

In [20]:
df.loc[df['Legendary'] == True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [25]:
#df.iloc[] ises indexes instead of column names
df.iloc[0,1]

'Bulbasaur'

In [26]:
#Filtering Rows
df.loc[df['Total'] >= 700]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [27]:
names_and_types = df[['Name', 'Type 1', 'Type 2']]
names_and_types.head()

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

In [29]:
# Dropping
df.drop(['#'], axis = 1).head()
df.drop([0,1], axis = 0) #To drop first two rows

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [32]:
#Get value at specific row/col (Accessing Specfic Items)
#.iat / .at
df.at[5, 'Name']

'Charmeleon'

In [33]:
df.iat[5, 1]

'Charmeleon'

# Data Preprocessing and Cleaning

## Components
- Handle our Null Values
    - Deletion
    - Average
    - Interpolation (o--i--o)
    - Extrapolation (o--o--i)
- Remove Duplicates
    - What counts as a duplicate?
- Transform Data
    - Normalization (0-1)
        - value/max(value)
        - ML models 
    - Standardization
        - Datatypes are consistant
        - Unit conversions (c/km/kg) -> (F/mi/lbs)
    - Encoding
        - Categorical Data (Fire/Water/Grass) -> (True, False, False) (One-hot encoding - pd.get_dummies()) 
- Handling outliers
    - Detection(Box Plot, Z-score, IQR)
    - Treatment
        - Deletion
        - Ceiling/Floor

- Feature Engineering
    - Creating new feature/functionality
    - Binning
        - Put all cont. numeric values into consecutive bins (0-9, 10,19, 20-29)
    - Aggregations
    - String manipluations
        - .str
            - df['Name'].str.upper() 
        - .apply() (map())
            - Apply a function to every entry

- Index Manipulation
    - set_index(col)
    - reset_index()

- Time Series Data
    - Streaming Data
    - Formats are the same
    - Resampling
        - Sensor_readings (10s or 6/min) -> 1/min
    - Extracting our components
        - Month from a date
        - Day of the week
        - Day of the year  

# Data Processing process
- EDA
    - Data Dictionaries, Documentation, Data Summaries, lookup Tables
- Project Requirments
    - Data Model
        - Full break of project steps if required
- Trail and Error
    1. Make it work
    2. Make it good (optimized)

In [35]:
reversed_df = df.loc[::-1] # How you reverse a df
reversed_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True

In [37]:
# Feature Engineering

df['Normal Stats'] = df['Total']/df['Total'].max()
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Normal Stats
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0.407692
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.519231
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.673077
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.801282
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0.396154

In [39]:
# Alter multiple values at once
df.loc[:3, 'Type 1'] = 'Fire'
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Normal Stats
0,1,Bulbasaur,Fire,Poison,318,45,49,49,65,65,45,1,False,0.407692
1,2,Ivysaur,Fire,Poison,405,60,62,63,80,80,60,1,False,0.519231
2,3,Venusaur,Fire,Poison,525,80,82,83,100,100,80,1,False,0.673077
3,3,VenusaurMega Venusaur,Fire,Poison,625,80,100,123,122,120,80,1,False,0.801282
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0.396154

In [42]:
#Sorting our DF .sort_values()

df.sort_values('Total', inplace = True, ascending= False)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Normal Stats
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,1.000000
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,1.000000
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,1.000000
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,0.987179
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,0.987179

In [43]:
df.reset_index(inplace = True, drop  = True)
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Normal Stats
0,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,1.000000
1,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,1.000000
2,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,1.000000
3,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,0.987179
4,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,0.987179

In [49]:
# Combining Conditions

df = df[(df['Type 1'] == 'Fire') & (df['Type 1'] == 'Flying')].head(15)
df.head()

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Normal Stats]
Index: []

In [51]:
df = pd.read_csv(pokemon)

In [54]:
#Aggregations
#almost always group by
type_stats = df.groupby('Type 1').agg({"Total": ['mean', 'median'], 'HP':['mean']})
type_stats.sort_values(('Total', 'mean'), ascending= False)

               Total                HP
                mean median       mean
Type 1
Dragon    550.531250  600.0  83.312500
Steel     487.703704  500.0  65.222222
Flying    485.000000  557.5  70.750000
Psychic   475.947368  485.0  70.631579
Fire      458.076923  482.0  69.903846
Rock      453.750000  467.5  65.363636
Dark      445.741935  465.0  66.806452
Electric  443.409091  477.5  59.795455
Ghost     439.562500  464.5  64.437500
Ground    437.500000  440.0  73.781250
Ice       433.458333  467.5  72.000000
Water     430.455357  455.0  72.062500
Grass     421.142857  430.0  67.271429
Fighting  416.444444  455.0  69.851852
Fairy     413.176471  405.0  74.117647
Normal    401.683673  415.0  77.275510
Poison    399.142857  401.5  67.250000
Bug       378.927536  395.0  56.884058

In [57]:
df['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

# Creating a Pivot Table
- Used multi-variate analysis
- Allows us to see metrics across categorical data
- Pivot tables need to consider Cardinality 
    - Cardinality = number of possible values

In [59]:
# use nuniques to determine cardinality

df.nunique()

#             721
Name          800
Type 1         18
Type 2         18
Total         200
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [65]:
pivot_table = df.pivot_table(
values=['Total', 'HP', 'Attack','Defense', 'Sp. Atk'],
index = ['Type 1', 'Type 2']
)
#pivot_table.head()
pivot_table.sort_values(['Total'], ascending=False).head()
#Pivoted type 1 to be a row

                Attack     Defense     HP  Sp. Atk       Total
Type 1  Type 2
Ground  Fire     180.0  160.000000  100.0    150.0  770.000000
Dragon  Ice      140.0   93.333333  125.0    140.0  686.666667
        Fire     120.0  100.000000  100.0    150.0  680.000000
Steel   Dragon   120.0  120.000000  100.0    150.0  680.000000
Psychic Dark     160.0   60.000000   80.0    170.0  680.000000

In [67]:
#Explode Function
#df['Types'] = df[['Type 1']['Type 2']]values.tolist()
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [69]:
# Writing to Files
df.to_json('../Desktop/pokemon.json')

In [ ]:
# Apache Parquet - Columnar file type VERY efficent when loading into memory
# AVRO - stored in rows